.section {
  padding: 0 0 9.6rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 4.0rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 0.8rem;
}

.desc {
  font-size: 1.3rem;
  color: var(--color-secondary);
  line-height: 1.8;
  max-width: 540px;
}
